@import "./variables-mobile";

// MAIN STRUCTURE

body{
    background-color:#FFFFFF;
    max-width: 100vw;
}

h3 {
    font-family: $h3-font;
    font-size: map-get($font-size, "h3" );
    font-weight: map-get($font-weight, "h3" );
    line-height: map-get($line-height, "h3" );
}

p {
    font-family: $p-font;
    font-size: map-get($font-size, "p" );
    font-weight: map-get($font-weight, "p" );
    line-height: map-get($line-height, "p" );
}

a {
    text-transform: uppercase;
    text-decoration: none;

}



// BUTTONS
.button {
        height: 48px;
        width: 288px;
        margin: 0 auto;
        background: map-get($button-background ,"normal");
        display: flex;
        justify-content: center;
        align-items: center;
        

    a { 
        width: inherit;
        display: block;
        align-self: center;
        text-align: center;
        text-transform: uppercase;
        color: map-get($button-color ,"normal");
        font-family: $button-font;
        font-size: map-get($font-size, "button" );
        font-weight: map-get($font-weight, "button" );
        line-height: map-get($line-height, "button" );

        &::selection {
            background-color: transparent;
        }
    }
}



// HEADER

header {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .logo {
        margin-left: 16px;

        svg{
            width: 24px;
            height: 24px;
        }
    }

    label {
        display: flex;
        align-items: center;
        margin-right: 16px;


         div{
            margin-left: inherit;
            text-align: center;
            width: 24px;
            height: 24px;
        }

        .times{
            display: none;
         }
    }
        
    input {
         display:none;
    }   
        
    input:checked ~ label {
       
        height: inherit;
        
        .material-icons.md-18 { 
            font-size: 18px;
            line-height: 24px;
         }

        .ham {
            display: none;
       }
        
        .times {
        display: block;
        height: 24px;
        }
    }    
        
    nav {
        display: none;
        height: 224px;
        width: 100%;        
    }
    
    input:checked ~ nav {
        display: block;
        justify-self: self-start;
        align-self: center;
        background-color: $background-nav-mobile;
        height: 224px;
        z-index: 10;
        padding-top: 16px;
        padding-left: 16px;
                ul{
                    list-style-type: none;
                   
                    li{
                        text-decoration: none;
                        padding-bottom: 24px;

                        a{
                            // Nav-text
                            font-family: $button-font;
                            font-size: map-get($font-size , "nav");
                            font-weight: map-get($font-weight , "nav" );
                            line-height: map-get($line-height, "nav");
                            color: map-get($text-color,"darkbackground");

                            padding-top: 6px 214px 6px 0px;
                        }

                        &:hover{
                            text-decoration: line-through;
                        }
                    }
                }
    }
}
    

// HERO
 main{
     margin-top: 13px;
 }

.hero{

    color: map-get($text-color, "lightbackground");
    margin: 0 16px;

   h1{
    margin: 16px;
        .hello {
            display: block;
        }
    }   

    p{
        margin: 16px;
        text-align: justify;
    }

    .button {
        margin-top: 36px;
        margin-bottom: 24px;
    }
       
}

// PODCAST - EPISODIOS

.episodios{

    padding-top: 64px;
    padding-bottom: 144px;
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
    background: $background-gradient;

    h2{
        color: map-get($text-color, "darkbackground" );
        margin: 0px 16px 21px;
    }

    .podcast {

            div{
                margin: 11px 11px;

                iframe{
                    .no-focus-outline{
                        height: 225px;
                    }
                }
            }
    }

}

// NOSOTROS- DE DONDE VENIMOS

.nosotros{
    margin: 0 16px;
    position: relative;
    top: -95px;
    margin-bottom: -95px;

    h2{
        color: map-get($text-color, "lightbackground" );
        margin-bottom: 8px;
    }

    .telefono {

        display: flex;
        justify-content: center;
        margin-bottom: 27px;

        img {
            height: 519px;
            width: 320px;
        }
    }

    p{
        text-align: justify;
    }

}

// ENTREVISTAS - INVITADOS ESTELARES
.entrevistas{

    margin-top: 54px;

    h2{
        margin: 14px 16px;
        color: map-get($text-color, "lightbackground" );
    }

    .invitados{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-start;
        align-items: flex-start;
    }
}

// TOPICOS - ALGUNOS TEMAS

.topicos {
    margin: 48px 16px 42px;

    h2{
        margin-bottom: 24px;
    }

    .temas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        div{
            margin: 36px;
        }
        

        svg {
            margin: 13px 0px;
            height: 104px;
            width: 104px;
        }
    }
}

// NOVEDADES

.novedades{
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 100%);
    background: $background-gradient;
    padding: 64px 16px;

    h2 {
        text-align: center;
        margin-bottom: 36px;
        color: map-get($text-color, "darkbackground");
    }
}

// FOOTER

footer{
    padding: 24px 16px 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    

    p{
        margin: 16px;
    }

    .redes{
        width: 227px;
        display: flex;
        justify-content: space-between;

    }

    a{
        color: rgba(6,10,36,1);
    }

}
