@import "./variables-mobile";

// MAIN STRUCTURE

body{
    background-color:#FFFFFF;
    width: 100vw;
}

// TEXT STYLE
a{
    text-transform: uppercase;
    text-decoration: none;
    color: #060A24;
}

p{
    font-family: $p-font;
}

h1 {
    font-family: $h1-font;
}

// BUTTONS
.button {
    a{
        text-transform: uppercase;
    }
}


// HEADER

header {
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    .logo{
        margin-left: 16px;
        width: 24px;
        height: 24px;
    }
    label > div{
        margin-right: 16px;
        text-align: center;
        line-height: 28px;
        font-size: 18px;
        width: 24px;
        height: 24px;

    }
        
    input {
         display:none;
    }   
        
    input:checked ~ label > .ham {
         display: none;
    }
        
    input:checked ~ label > .times {
        display: block;
    }

    input:checked ~ label{
       padding:  13px 0;
    }
        
    .times{
        display: none;
     }
        
    nav{
        display: none;
        background-color: blue;
        height: 224px;
        width: 100%;
    }

    input:checked ~ nav {
        display: block;
        align-self: flex-start;
        background-color: blue;
        height: 224px;
        z-index: 10;
    }

    }
    
    

// HERO

.world {
    text-decoration: line-through;
}
